u/* New expense */
.newexpense
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    overflow-y: auto;
}

.newexpense .header {
    height: 64px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.newexpense .pane {
    float: left;
    width: calc(50% - 30px);
    height: calc(100% - 158px);
}

.newexpense .pane.left {
    margin-left: 20px;
    margin-right: 10px;
}

.newexpense .pane.right {
    margin-left: 10px;
    margin-right: 20px;
}

.newexpense .location {
    margin-top: 50px;
    margin-bottom: 10px;
}

.newexpense .picture {
    margin-top: 50px;
    margin-bottom: 10px;
}

.newexpense .mapContainer,
.newexpense .pictureContainer {
    width: calc(100% - 30px);
    height: 300px;
}

.newexpense .win-item {
	height: 100%;
	width: 100%;
}

.newexpense .win-item .host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333;
    height: 100%;
    width: 100%;
}

.newexpense .win-item .host .image {
	width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.newexpense .address {
	text-align: center;
	opacity: 0;
}

.newexpense .footer {
    height: 64px;
    margin-right: 20px;
}

.newexpense .footer .buttons {
    float: right;
}

.newexpense .footer .buttons .cancel:hover:active {
    background-color: #fff;
    color: #111;
}