#et .expense {
	width: 100%;
	height: 100%;
}

 #et.expense .item {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

#et .expense .thumb {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #333;
}

#et .expense .item-body {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: calc((100% - 215px)/2);
}

#et .expense .item-date {
    float: left;
    margin-right: 10px;
    width: calc((100% - 215px)/2);
}

#et .expense .cost {
    text-align: right;
    float: left;
    width: 85px;
    height: 100%;
}
