<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>app</title>

    <link href="app.css" rel="stylesheet" />
    <script src="navigator.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="app">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button class="backbutton" data-win-control="WinJS.UI.BackButton"></button>
                    <a class="navbar-brand" href="#">ExpenseTrackr</a>
                    

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" onclick="WinJS.Navigation.navigate('/www/js/core/views/newexpense/newexpense.html');"><span class="glyphicon glyphicon-pencil"></span> Add new expense</a></li>
                        <li><a href="#" onclick="WinJS.Navigation.navigate('/www/js/core/views/settings/settings.html');"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="contenthost" class="navigator" data-win-control="App.Views.PageControlNavigator" data-win-options="{home: '/www/js/core/views/expenses/expenses.html'}"></div>
    </div>
</body>
</html>
