<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>expenses</title>

    <link href="expenses.css" rel="stylesheet" />
    <script src="expenses.js"></script>
</head>
<body>
    <div class="expenses">
        <progress class="win-progress spinner win" data-win-bind="style.display: this.viewModel.progress Binding.noneIfFalse"></progress>
        <div data-win-name="defaultTemplate" data-win-control="WinJS.Binding.Template" style="display: none;">
            <div class="item">
                <img class="thumb" data-win-bind="src: url" />
                <div class="item-body">
                    <div class="title win-type-x-large win-type-ellipsis" data-win-bind="textContent: title"></div>
                    <div class="text descrip win-type-x-large darker win-type-ellipsis" data-win-bind="textContent: text"></div>
                </div>
                <div class="item-date">
                    <div class="win-type-x-large win-type-ellipsis" data-win-bind="textContent: datestring"></div>
                    <div class="win-type-x-large win-type-ellipsis darker" data-win-bind="textContent: timestring"></div>
                </div>
                <div class="cost win-type-x-large">
                    <span>$</span>
                    <span data-win-bind="textContent: cost">0</span>
                    <div class="currency darker">USD</div>
                </div>
            </div>
        </div>
        <div data-win-name="mobileTemplate" data-win-control="WinJS.Binding.Template" style="display: none;">
            <div class="item mobile">
                <img class="thumb" data-win-bind="src: url" />
                <div class="item-body">
                    <div class="title win-type-medium win-type-ellipsis" data-win-bind="textContent: title"></div>
                </div>
                <div class="cost win-type-medium">
                    <span>$</span>
                    <span data-win-bind="textContent: cost">0</span>
                    <span class="currency darker">USD</span>
                </div>
            </div>
        </div>
        <div class="group-template" data-win-control="WinJS.Binding.Template">
            <h2 data-win-bind="textContent: text">Status</h2>
        </div>
        <div class="listView" data-win-name="listView" data-win-control="WinJS.UI.ListView"
             data-win-options="{layout: {type: WinJS.UI.ListLayout}}"
             data-win-bind="winControl.itemDataSource: viewModel.list.dataSource;
                            winControl.oniteminvoked: this.itemInvoked;"></div>
    </div>
   
</body>
</html>
